
body{
    font-family: 'Montserrat-Black', sans-serif;
    text-align: center;
    

}



h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Black', sans-serif;
}


.dark-mode {
    background-color: black;
    color: white;
  }

.berwarna{
    background-color: #00aeff;
  

}

#cta {
    padding:0px;
}

.tidakberwarna{
    background-color: #fff;

}

/* Title  */
#title{

    color:#fff;
 
}

#title .container-fluid{
    padding: 20% 13% 18%;
}


.title-text{
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: left;
}



/* Download Button */

.btn{
    margin:5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width:30%;
    right : 10%;
    position: absolute;
    margin-top:4rem;
    
}



/* Features */

#features{
    
    
    position:relative;

}

.feature-box{
    
    padding:5%;
    
}

.features-h3{
    font-weight: bold;
    font-size:1.5rem;
   
}


p{  
    font-family: 'Montserrat', sans-serif;
    color:#8f8f8f;
}

.logo{

    position: relative;
    padding-bottom:1rem;
}

.feature-logo{
    color:#ef8172;
    margin-bottom:1rem;
}

.feature-logo:hover{
    color:#ff4c68;
    cursor:grab
}

/* Testimonials */
.pricing-title{
    padding-top:2rem;

}

.pricing-subtitle{
    padding-bottom:2rem;
}
#testimonials{
    
     background-color:#ef8172;
  
    color:#fff;
}

.testimonial-text{
    font-size:3rem;
    line-height: 1.5;
    padding:0 20%;
    font-weight: bold;
}   

.col-lg-4{
    padding-left:4rem;
    padding-right:4rem;
}




.testimonial-img{
    width:10%;
    border-radius:100%;
    margin:20px;
}

#press{
    background-color:#ef8172;
    padding-bottom:3%;
}

.press-image{
    width: 7%;
    margin : 20px 20px 50px;
}



/* z indeks imgae header with #features and #title */

/* Media Query */
@media (max-width:1028px)
{   
   #title{
    text-align: center;
   }
    .title-image{
        position: static;
        transform:rotate(0);
    }
}

.top-cloud {

position:absolute;
    top:5%;
    right:5%;
    
}

.bot-cloud {
    position:relative;
    right : 10%;
    margin-top:15rem;
}

/* Call to Action */




.cta-h3{
    font-size:2.5rem;
    line-height: 1.5;
    color:#fbff00;
}

/* Footer */



.footer-icon{
    
    padding-top:2.5rem;
    padding-bottom:1rem;
}

.fa-icon{
    padding:0 1rem;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}